/*Google fonts local*/
/* latin */
/*@font-face {
  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  src: local('Arbutus Regular'), local('Arbutus-Regular'), url(https://fonts.gstatic.com/s/arbutus/v6/Es-r6R-ox_ENfIn2MQMcrQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/

body {
  background-color: silver;
  font-size: 24px;
}

.container-fluid {
  background-color: white;
  margin-top: 1rem;
}

h1{
  font-family: 'Arbutus';
  font-size: 1.7em;
  color: blue;
}

h2 {
  font-family: 'Arbutus';
  font-size: 1.5em;
  color: black;
}

a:link, a:visited {
  font-weight: bold;
  color: navy;
  text-decoration: underline;
}

a:hover {
  font-size: 1.2rem;
  color: orange;
  font-weight: bold;
}

a.btn {
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
}

.header {
  margin-top: 1rem;
}

.header h1 {
  padding-left: 2rem;
}

.logo img {
  height: 75px;
  width: 75px;
  margin-left: -30px;
}

.text-box {
  margin-top: 1rem;
  background-color: white;
  height: 100%;
}
.jumbotron {
  border: thick solid navy;
  border-radius: 3%;
  margin-top: 2rem;
  background-color: #03a9f4;
  padding: .5rem;
}
.jumbotron img {
  height: 100%;
  width: 100%;
  border: thin solid black;
  margin: auto;
}

.jumbotron .text-box {
  margin-top: .05rem;
  width: 100%;
  height: 100%;
  border: thin solid black;
  border-radius: 10px;
  padding: 1rem;
}

.jumbotron p, .subs p {
  font-family: "Arimo";
  /*font-size: 1.2rem;*/
  text-align: left;
  margin: 1rem;
}

.sub-bg {
  background-color: #fafafa;
  margin: .5rem;
  padding: 2rem;
  text-align: center;
}

.subs .text-box {
  border: thin solid black;
  border-radius: 10px;
}


.subs img {
  width: 85%;
  height: 300px;
  border: 3px solid #03a9f4;
}

.xs-btn {
  display: inline;
}
.md-btn {
  display: none;
}

.footer {
  background-color: #03a9f4;
  border-style: solid;
  border-width: thin 0px;
  border-color: black;
}

.footer img {
  height: 25px;
  width: 25px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.footer p {
  font-family: "Arbutus";
  font-size: 1.5rem;
  font-weight: bold;
  display:inline-block;
}

.tribute .text-box {
  border: thick solid navy;
  border-radius: 5%;
  padding: 2.5rem;
}

/* ######   md size  #####*/
@media only screen and (min-width:990px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .logo {
    text-align: right;
    padding-right: 7rem;
  }

  .logo img {
    height: 100px;
    width: 100px;
  }

  .xs-btn {
    display: none;
  }

  a.btn {
    font-size: 1.2rem;
  }

  .md-btn {
    display: block;
    width: 25%;
    text-align: center;
    margin: 1.5rem auto;
  }

  .subs img {
    width: 259px;
    height: 160px;
  }

  .sub-bg {
    height: 550px;
    border: thin solid blue;
  }

}
